/* Apply box-sizing to all elements to include padding and border in element's total width and height */
* {
  box-sizing: border-box;
}

/* Set default font size for the body */
body {
  background: rgb(247, 243, 237);
  margin: 0;
}

main {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Roboto;
  font-weight: 200;
  font-size: 150px;
}

h2 {
  margin: 0;
}

h3 {
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
}

span {
  font-family: Roboto;
  font-weight: 100;
  font-size: 15px;
  color: rgb(111, 122, 124);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Main container styling */
.main-container {
  width: 100%;
  height: 1736px;
  background: rgb(246, 237, 225);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Styling for the first name header */
/* About me section title styling */
h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto Flex;
  font-weight: Regular;
  font-size: 100px;
  text-align: left;
}

/* About me description styling */
p {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-weight: Regular;
  font-size: 20px;
}

/* Background image styling for elements */
img {
  width: 40vw;
  height: auto;
}

.card {
  min-width: 300px;
  min-height: 300px;
  background: #e6dccf;
  padding: 20px;
  top: 788px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  /*border: 2px solid #333; /* Add this line for the stroke */
}

.card:hover {
  background: #c2c8c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  transform: translateY(-10px) scale(1.02);
  border-color: #555; /* Optional: change border color on hover */
}

.card:hover > h2 {
  color: #ffffff;
}

.card:hover > div > h2 {
  color: #ffffff;
}

/* Project tag styling */
.card-item {
  width: 170px;
  color: rgb(0, 0, 0);
  top: 850px;
  font-family: Roboto Condensed;
  font-weight: Bold;
  font-size: 150px;
  opacity: 1;
  text-align: left;
}

/* Specific positions for project tags */
.card-container {
  display: flex;
  gap: 1rem;
}

.about-me-description-container {
  display: flex;
  gap: 1rem;
  max-width: 60vw;
}

.appear-on-hover-text {
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  display: none;
}

.card:hover > div > .appear-on-hover-text {
  opacity: 1;
  display: block;
}

/* New project button styles */
.project-button {
  position: absolute;
  right: 20px; /* 20px from the right */
  text-align: center;
  text-decoration: none;
  color: #000; /* Initial text color */
  font-family: Lato, sans-serif;
  font-weight: Regular;
  font-size: 16px; /* Font size */
  cursor: pointer;
  transition: color 0.4s ease; /* Transition for smooth color change */
}

.project-button:hover {
  color: #c2c8c9; /* Change text color to white on hover */
}

.alex-button {
  position: absolute;
  left: 20px; /* 20px from the right */
  text-align: center;
  text-decoration: none;
  color: #000; /* Initial text color */
  font-family: Lato, sans-serif;
  font-weight: regular;
  font-size: 16px; /* Font size */
  cursor: pointer;
  transition: color 0.4s ease; /* Transition for smooth color change */
}
.alex-button:hover {
  color: #c2c8c9; /* Change text color to white on hover */
}
#container {
  position: relative;
  width: 22.813rem;
  height: 22.813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px; /* Adjust this value to move the circles up */
}

.circles {
  display: flex;
  flex-wrap: wrap;
}
.circles .circle {
  position: relative;
  width: 1.563rem;
  height: 1.563rem;
  margin: -0.125rem;
  border-radius: 50%;
}

.circles:nth-child(1) .circle:nth-child(2n) {
  opacity: 0;
  background: #f6e9d8;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0.2s;
}

.circles:nth-child(2) .circle:nth-child(2n) {
  opacity: 0;
  background: #d1b1a1;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0.1s;
}

.circles:nth-child(3) .circle:nth-child(2n) {
  opacity: 0;
  background: #a67b5b;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0s;
}

.circles:nth-child(4) .circle:nth-child(2n) {
  opacity: 0;
  background: #764c24;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.1s;
}

.circles:nth-child(5) .circle:nth-child(2n) {
  opacity: 0;
  background: #f7d2a1;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.2s;
}

.circles:nth-child(6) .circle:nth-child(2n) {
  opacity: 0;
  background: #f4a261;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.3s;
}

.circles:nth-child(7) .circle:nth-child(2n) {
  opacity: 0;
  background: #e76f51;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.4s;
}

.circles:nth-child(8) .circle:nth-child(2n) {
  opacity: 0;
  background: #2a9d8f;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.5s;
}

.circles:nth-child(9) .circle:nth-child(2n) {
  opacity: 0;
  background: #264653;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.6s;
}

.circles:nth-child(10) .circle:nth-child(2n) {
  opacity: 0;
  background: #f6e9d8;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.7s;
}

.circles:nth-child(11) .circle:nth-child(2n) {
  opacity: 0;
  background: #d1b1a1;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.8s;
}

.circles:nth-child(12) .circle:nth-child(2n) {
  opacity: 0;
  background: #a67b5b;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.9s;
}

.circles:nth-child(13) .circle:nth-child(2n) {
  opacity: 0;
  background: #764c24;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1s;
}

.circles:nth-child(14) .circle:nth-child(2n) {
  opacity: 0;
  background: #f7d2a1;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.1s;
}

.circles:nth-child(15) .circle:nth-child(2n) {
  opacity: 0;
  background: #f4a261;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.2s;
}

.circles:nth-child(16) .circle:nth-child(2n) {
  opacity: 0;
  background: #e76f51;
  animation: circleSize 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.3s;
}

.circles:nth-child(1) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #2a9d8f;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0.2s;
}

.circles:nth-child(2) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #264653;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0.1s;
}

.circles:nth-child(3) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f6e9d8;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: 0s;
}

.circles:nth-child(4) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #d1b1a1;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.1s;
}

.circles:nth-child(5) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #a67b5b;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.2s;
}

.circles:nth-child(6) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #764c24;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.3s;
}

.circles:nth-child(7) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f7d2a1;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.4s;
}

.circles:nth-child(8) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f4a261;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.5s;
}

.circles:nth-child(9) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #e76f51;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.6s;
}

.circles:nth-child(10) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #2a9d8f;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.7s;
}

.circles:nth-child(11) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #264653;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.8s;
}

.circles:nth-child(12) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f6e9d8;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -0.9s;
}

.circles:nth-child(13) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #d1b1a1;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1s;
}

.circles:nth-child(14) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #a67b5b;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.1s;
}

.circles:nth-child(15) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #764c24;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.2s;
}

.circles:nth-child(16) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f7d2a1;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.3s;
}

.circles:nth-child(17) .circle:not(:nth-child(2n)) {
  opacity: 1;
  background: #f4a261;
  animation: circleSizeTwo 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: -1.4s;
}

@supports (display: grid) {
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
@keyframes circleSize {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes circleSizeTwo {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  40%,
  60% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(0);
  }
} /*# sourceMappingURL=main.css.map */
